<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.yaopb.message">
	
	<application>
		<activity android:name=".JoyMessageActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				
				<data
					android:host="joymessage"
					android:scheme="demo" />
			</intent-filter>
		</activity>
	</application>
</manifest>
